<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="" class="nav-logo-issues mt-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/issues">All Issues</a>
                <a class="nav-link" href="/issues/new">New Issues</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Admin Login</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>