<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/issues" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="campground[author]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="type">Type</label>
                    <div class="form-check" id="type"> 
                        <input class="form-check-input" type="radio" name="campground[type]" value="Potholes" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Potholes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="campground[type]" value="Road Cracks" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Road Cracks
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="campground[type]" value="Debris" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Debris
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="campground[type]" value="Under Construction" id="flexRadioDefault4">
                        <label class="form-check-label" for="flexRadioDefault4">
                            Under Construction
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="campground[type]" value="Faded Marking" id="flexRadioDefault5">
                        <label class="form-check-label" for="flexRadioDefault5">
                            Faded Marking
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="campground[type]" value="Others" id="flexRadioDefault6">
                        <label class="form-check-label" for="flexRadioDefault6">
                            Others
                        </label>
                      </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->


                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/issues">All Campgrounds</a>
            <div id='map'></div>
            <script>
                mapboxgl.accessToken = '<%-process.env.MAPBOX_TOKEN%>';
                const map = new mapboxgl.Map({
                    container: 'map', // container ID
                    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                    style: 'mapbox://styles/mapbox/streets-v12', // style URL
                    center: [-24, 42], // starting center in [lng, lat]
                    zoom: 1 // starting zoom
                });

                // Initialize the GeolocateControl.

                const geolocate = new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true
                });
                // Add the control to the map.
                map.addControl(geolocate);
                // Set an event listener that fires
                // when a trackuserlocationstart event occurs.
                geolocate.on('trackuserlocationstart',async (e) => {
                     console.log('A trackuserlocationstart event has occurred.', e.target);
                });
            </script>
        </div>
    </div>