#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}
.ctg-image{
    width:100px;
    height: 100px;
}
.category-container{
    padding:2% 5%;
    display:flex;
    flex-direction: column;
    background-color: #FFC947;
    gap:20px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category-container-blue{
    padding:2% 5%;
    display:flex;
    flex-direction: column;
    background-color: #185ADB;
    gap:20px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    
}
label{
    font-weight: bold;
}
.browse-btn{
    background-color :#FFC947;

}
.nav-logo-issues{
    width: 6rem;
}